html, body {
  background-color: #131212;
  margin: 0;
  background-attachment: fixed;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.sir {
  
  display: flex;
  justify-content:center;
}
.sir > div:nth-child(1) {
  background-color: #b10f0f;	
}
.sir > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
  
}
.pause > div{
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}
.pause > div:nth-child(1){
    background-color: #be0d0d;
}
.pause{
    display: flex;
    justify-content: flex-end
}


.backgroundImage {
  display: flex;
  justify-content: center
}

.gameboard {
  background-image: url('https://imgur.com/YRqI7PK.png');
  /* justify-content: flex-end; */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%; 
  top: 1px;
  object-fit: contain;
  
}

.baby {
  position: absolute;
  opacity:1;
  transition: all 0.4s;
  background-image: url('https://imgur.com/fDnjurP.jpeg');
  top: 520px;
  bottom: 0px;
  left: 690px;
  right: 0px;
  height: 75px;
   width: 75px;
   z-index: 0;
   background-size: contain;
  background-position: center;
background-repeat: no-repeat;
}

.fireball{
  position: absolute;
  top: 200px;
  bottom: 100px;
  left: 700px;
  right: 0px;
  width: 70px;
  height:  70px;

  background-image: url(https://imgur.com/Kp4xcNp.png);
  z-index: 0;
  background-size: 14%;
  background-repeat: no-repeat;
  background-size: contain;
}